version: '3'
services:
  app:
    build: 
      context: ./app
      dockerfile: ../docker/app/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    depends_on:
      - db

  db: 
    image: mysql:8.0
    ports: 
      - "3306:3306"
    env_file:
      - .env
