html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: hsl(45, 29%, 97%);
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 3rem;
}

main {
    grid-column: 2 / span 12;
    text-align: center;
}
