<!-- wrappers -->

{{ define "section" }}
<section>
    {{ if .ChildElements}}
        {{ range .ChildElements }}
            {{ template "blockmapper" . }}
        {{ end }}
    {{ end }}
</section>
{{ end }}

{{ define "div" }}
<div>
    {{ if .ChildElements}}
        {{ range .ChildElements }}
            {{ template "blockmapper" . }}
        {{ end }}
    {{ end }}
</div>
{{ end }}

<!-- content -->
{{ define "bodytext" }}
<p 
    {{ if( .GetClassNames ) }}
    class = "{{ .GetClassNames }}"
    {{ end }}
    id="{{ .GetElementUUID }}"
>
    {{ .GetContent}} 
</p>
{{ end }}

{{ define "textblock" }}
<div 
    {{ if( .GetClassNames ) }}
    class = "{{ .GetClassNames }}"
    {{ end }}
    id="{{ .GetElementUUID }}"
>
    {{ if .ChildElements }}
    {{ range .ChildElements }}
        {{ template "blockmapper" . }}
    {{ end }}
    {{ end }}
{{ end}}

{{ define "image"}}
<img src="{{ .GetAssetUrl }}" alt="{{ .GetAltText }}">
{{ end }}
