<!-- structure -->

<!-- block-->

{{ define "textblock" }}
<div 
    {{ if( .GetClassNames ) }} 
        class="{{ .GetClassNames }}" 
    {{ end }} 
    id="{{ .GetElementUUID }}"
>
    {{ if .ChildElements }}
        {{ range .ChildElements }}
        {{ template "blockmapper" . }}
    {{ end }}
    {{ end }}
</div>
{{ end }}


{{ define "headertext" }}
<h2 
    {{ if( .GetClassNames ) }} 
        class="{{ .GetClassNames }}" 
    {{ end }} 
    id="{{ .GetElementUUID }}"
>
    {{ .GetContent}}
</h2>
{{ end }}

{{ define "subheadertext" }}
<h4 
    {{ if( .GetClassNames ) }} 
        class="{{ .GetClassNames }}" 
    {{ end }} 
    id="{{ .GetElementUUID }}"
>
    {{ .GetContent}}
</h4>
{{end}}

{{ define "bodytext" }}
<p 
    {{ if( .GetClassNames ) }} 
        class="{{ .GetClassNames }}" 
    {{ end }} 
    id="{{ .GetElementUUID }}"
>
    {{ .GetContent}}
</p>

{{ end }}